
body{
    background-image: url('assets/images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}
.card{background-color: rgba(255,255,255,0.8)}
.card-header{
    text-align: center;
    font-size: 25pt;
    font-weight: bold;
    color: black;

}
.inputText {
    margin-bottom: 20pt;
    margin-top: 0pt !important; 
}
.inputLanguageCode{
    margin-bottom: 20pt;
    margin-top: 0pt !important; 
}
h5{
    margin-bottom: 2pt !important;
    margin-top:  0pt !important;
    margin-left: 5pt !important;
    color: black;
    font-size: 20pt;
    font-weight: bold;
}

